/*!
 * Start Bootstrap - Blog Home HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*footer {
    margin: 50px 0;
}*/

footer {
    margin: 15px 0;
    color: #fefefe;
    text-align: center;
}

footer img,
#banner-logo {
  height: 32px;
  width: 60px;
}
